{% extends 'base.html' %}

{% block content%}
   

<h1>Users : </h1>
<hr class="hr" />

{%for our_user in users %}

<div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">

  <div class=" col-4 d-flex flex-row align-items-center">
    <div>
      <a href="{{ url_for('user', username=our_user.username) }}" class="link-menu">
        <div
          class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
          {%if our_user.profile_pic%}
          <img src="{{url_for('static',filename='images/'+our_user.profile_pic)}}" alt=""
            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
          {%else%}
          <img src="{{url_for('static',filename='images/profile.jpg')}}" alt=""
            style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
          {%endif%}
        </div>
      </a>
    </div>
    <strong class="ml-3 sugest-username">{{our_user.username}}</strong>
    
</div>

<div class="col-3 flex-row align-items-center">

    <strong class="ml-3 body-dark ">{{our_user.followers.count()}} </strong> 
    
    followers
</div>
<div class="col-4 flex-column">

    <strong class="ml-3 body-dark ">{{our_user.followed.count()}} </strong> following
</div>


  {% if current_user.is_following(our_user) %}
  <form action="{{ url_for('unfollow', username=our_user.username) }}" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.submit(value='Unfollow', class="btn btn-outline-dark btn-sm ") }}
    </p>
  </form>
  {% else %}
  <form action="{{ url_for('follow', username=our_user.username) }}" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.submit(value='Follow', class="btn btn-outline-dark btn-sm ") }}
    </p>
  </form>
  {% endif %}
</div>

<hr class="hr" />
{%endfor%}





{%endblock%}
