{% extends 'base.html' %}

{% block content%}
<br />




<h1>DashBoard</h1>
<br />


<div class="card">
        <div class="card-header">
                {{current_user.name}}
        </div>
        <div class="card-body">

                <p class="card-text">

                <div class="container">
                        <div class="row">
                                <div class="col-8">


                                        <strong>Username: </strong>{{current_user.username}}<br />
                                        <strong>User Id: </strong>{{current_user.id}}<br />
                                        <strong>Email: </strong>{{current_user.email}}<br />
                                        <strong>Date Joined: </strong>{{current_user.date_added}}<br />
                                        <strong>Favourite Color: </strong>{{current_user.favorite_color}}<br /></p>
                                        <strong>Profile Pic: </strong>{{current_user.profile_pic}}<br /></p>

                                        <strong>About Author: </strong>{{current_user.about_author}}<br /></p>

                                        
                                        <!-- <a class="btn btn-dark btn-sm "
                                        href="{{url_for('update',id=current_user.id)}}">Edit User Details </a> -->
                                        
                                        <a href="{{url_for('logout')}}" class="btn btn-danger btn-sm ">Logout</a>
                                        <a class="btn btn-outline-danger btn-sm "
                                                href="{{url_for('delete',id=current_user.id)}}">Delete User </a>
                                              
                                        

                                </div>
                               
                                <div class="col-4">
                                {%if current_user.profile_pic%}
                                <img src="{{url_for('static',filename='images/'+current_user.profile_pic)}}" alt=""
                                        width="150" align="right">


                                {%else%}

                                <img src="{{url_for('static',filename='images/profile.jpg')}}" alt="" width="150"
                                        align="right">

                                {%endif%}
                        </div>
                               

                </div>
        </div>

</div>


<div class="card">

        <div class="card-header">
                <strong>Update Profile</strong>

                <form action="/dashboard" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        {{form.name.label(class='form-label')}}
                        {{form.name(class='form-control',value=name_to_update.name)}}
                        <br />

                        {{form.username.label(class='form-label')}}
                        {{form.username(class='form-control',value=name_to_update.username)}}
                        <br />

                        {{form.email.label(class='form-label')}}
                        {{form.email(class='form-control',value=name_to_update.email)}}
                        <br />

                        {{form.favorite_color.label(class='form-label')}}
                        {{form.favorite_color(class='form-control',value=name_to_update.favorite_color)}}
                        <br />


                        <textarea name="about_author" class="form-control">
        {{name_to_update.about_author}}
</textarea>

                        <br />
                        {{form.profile_pic.label(class='form-label')}}
                        {{form.profile_pic(class='form-control',value=name_to_update.profile_pic)}}
                        <br />




                        {{form.submit(class='btn btn-secondary btn-sm')}}

                </form>

        </div>
</div>


</div>
</div>






{%endblock%}