{% extends 'base.html' %}

{% block content%}
    <br/>




    <h1>Login Page</h1>
    <br/><br/><br/>
    

    <div class="shadow-sm p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}
      
        {{form.username.label(class='form-label')}}
        {{form.username(class='form-control')}}
<br/>
        

        
        {{form.password.label(class='form-label')}}
        {{form.password(class='form-control')}}
            <br/>
        {{form.submit(class='btn btn-secondary')}}
    </form>

</div>





{%endblock%}
