{% extends 'base.html' %}

{% block content%}



<div>
    <div class="d-flex flex-row justify-content-between align-items-center mt-3 mb-3">
        <div class="d-flex flex-row align-items-center">
            <div
                class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center border sugest-profile-photo">
                
                {%if user.profile_pic%}
                <img src="{{url_for('static',filename='images/'+current_user.profile_pic)}}" alt=""
                style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">


                {%else%}

                <img src="{{url_for('static',filename='images/profile.jpg')}}" alt="" style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">

                {%endif%}
                
                
               
            </div>
            <strong class="ml-3 sugest-username">{{user.username}}</strong>
        </div>
        <button class="btn btn-primary btn-sm p-0 btn-ig ">Follow</button>
    </div>















<h1>User: {{ user.name }}</h1>

{% if user.about_author%}<p>{{ user.about_author }}</p>{% endif %}
<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
{% if user == current_user %}
<p><a href="{{ url_for('dashboard') }}">Edit your profile</a></p>
{% elif not current_user.is_following(user) %}
<p>
    <form action="{{ url_for('follow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Follow') }}
    </form>
</p>
{% else %}
<p>
    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Unfollow') }}
    </form>
</p>
{% endif %}

{%endblock%}

